@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    min-height: 100vh;
    font-size: larger;
    padding: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font_Fraunces {
        font-family: "Fraunces", serif;
        font-weight: 700;
        color: hsl(212, 21%, 14%);
}

/* -> Main content */
.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 600px;
    max-width: 900px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}

/* # image */
picture {
    flex: 1 0 375px;
    width: 50%;
    height: auto;
}
picture img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 15px;
}
/* # content */
.content {
    flex: 1 1 375px;
    min-height: 600px;
    padding: 1.9rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.heading {
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 1.4rem;
    font-weight: 400;
}
.summary .font_Fraunces {
    font-size: 2.9rem;
    margin-bottom: 1rem;
}
.summary p:nth-child(2) {
    line-height: 1.5rem;
}

.price {
    padding: 0.5rem;
}
.discounted_price {
    color: hsl(158, 36%, 37%);
    font-size: 2.4rem;
}
.real_price {
    vertical-align: super;
    margin-left: 5px;
    text-decoration: line-through;
}

/* ? Button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: hsl(158, 36%, 37%);
    padding: 1rem 0rem;
    border-radius: 9px;
}
.cart {
    color: white;
    font-weight: 600;
}
.button:hover, .button:focus {
    background-color: hsl(159, 57%, 12%);
    cursor: pointer;
}